body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #337ab7;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image:url(a90bd1bc-f74c-4800-abe0-f175c9860f08.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
  
  
  section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #0977ca;
    text-align: left;
  }
  
  footer {
    background-color: #cac6c6;
    padding: 10px;
    text-align: center;
    color: #545151;
  }
  
  /* Media queries for responsive design */
  @media only screen and (max-width: 768px) {
    /* Styles for mobile devices */
    main {
      flex-direction: column;
    }
    section {
      margin-bottom: 10px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Styles for small mobile devices */
    nav ul {
      flex-direction: column;
    }
    nav li {
      margin-right: 0;
    }
  }

  p{
    text-align: left;
  }